#sidebar-wrapper.bg-dark.border-right
        .sidebar-heading 
            a.navbar-brand(href='/') my
                span(style="color: yellow") Dashboard
        .list-group.list-group-flush
            a.list-group-item.list-group-item-action.bg-dark.active(href='/') 
                i(class="fa fa-home fa-fw fa-co")    
                span Bảng điều khiển
            a.list-group-item.list-group-item-action.bg-dark(href='/class') 
                i(class="fa fa-university fa-fw fa-co")    
                span Lớp học
            a.list-group-item.list-group-item-action.bg-dark(href='/teacher') 
                i(class="fa fa-graduation-cap fa-fw fa-co")    
                span(style="color: white") Giáo viên
            a.list-group-item.list-group-item-action.bg-dark(href='/student') 
                i(class="fa fa-users fa-fw  fa-co")    
                span(style="color: white") Học viên
            a.list-group-item.list-group-item-action.bg-dark(href='/study') 
                i(class="fa fa-book fa-fw  fa-co")    
                span(style="color: white") Điểm
            a.list-group-item.list-group-item-action.bg-dark(href='/certificate') 
                i(class="fa fa-address-card fa-fw  fa-co")    
                span(style="color: white") Chứng chỉ
            a.list-group-item.list-group-item-action.bg-dark(href='/bill') 
                i(class="fa fa-file fa-fw  fa-co")    
                span(style="color: white") Biên lai