extends ../layouts/common
block content
    .container-fluid
        h1 Tạo lớp:
        if errors
            .alert.alert-danger=errors
        if success
            .alert.alert-success=success
        form.form.container-fluid(method="post", action="/class/create")
            .form-group.row
                label.col-2(for="classname") Tên lớp: 
                .col-10
                    input.form-control#classname(type="text", name="classname", placeholder="Nhập tên lớp...", required)
            .form-group.row
                label.col-2(for="newPassword") Mật khẩu mới: 
                .col-10
                    input.form-control#newPassword(type="password", name="newPassword", placeholder="Nhập mật khẩu mới...", required)
            .form-group.row
                label.col-2(for="retypenewPassword") Nhập lại mật khẩu mới: 
                .col-10
                    input.form-control#retypenewPassword(type="password", name="retypenewPassword", placeholder="Nhập lại mật khẩu mới...", required)
                    button.btn.btn-primary.my-2 Đổi mật khẩu
