extends ../layouts/common
block content
    .container-fluid
        .row.d-flex.justify-content-between.align-items-center
            .col-6
                h1 Danh sách lớp
            .col-6
                a.d-block.text-right.mr-4.btn.btn-primary(href="", style="font-size: 26px") Tạo lớp mới
        .row 
            table.table
                thead
                    th STT
                    th ID
                    th Tên lớp
                    th
                    th
                tbody
                    tr 
                        td
                    tr 
                    tr
